**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache
**/.coverage
**/htmlcov
**/*.db
**/*.db-journal
**/node_modules
**/dist
**/.vite
**/build
**/.env
**/.DS_Store
**/venv
**/env
**/.git
**/.gitignore
**/README.md
**/data
